__pycache__/
*.py[cod]
*$py.class
anaconda_projects/

venv/
.venv/
env/
ENV/

.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Build / Distribution
build/
dist/
*.egg-info/
.eggs/

# Test / Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Generated Data
 outputs/

